<div ng-controller="MandelbrotCtrl">

<div style="width:{{width}}px; position:relative; text-align:center;">
    <button style="height:2em;" ng-click='reset()'>Reset</button>
    <span style="width:2em;">&nbsp;</span>
    <button style="height:2em;" ng-click='stopProcessing()'>Stop</button>
</div>

<div style="width:{{width}}px; height:{{height}}px;" rectangledrag>
  <canvas />
</div>

<div style="width:{{width}}px; position:relative; text-align:center">
    <span style="color:black">{{message}}</span>
</div>

</div>

